* {
  font-family: monospace;
  margin: 0px;
}
div {
    /*border: 1px dashed grey;*/
  text-align: center;
  margin: 8px;
}
.title{
    margin-bottom: 2rem;
    font-weight: 700;
}

.rules{
    font-size: 1.4rem;
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.flex-v {
  display: flex;
  align-items: center;
}
.button {
  font-size: 2rem;
  color: #333;
  border: 0px solid transparent;
  background-color: transparent;
  transition: all 0.1s linear
}

.button:hover {
  color: #000;
  cursor: pointer;
  transform: translate(0,-2px);
}

.row {
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto 16px;
  max-width: 300px;
}

#ui {
    border: 3px solid black;
    border-radius: 16px;
    display: inline-block;
    overflow: hidden;
    max-height: 80px;
    width: 300px;
    z-index: 99;
}
#ui > .row {
    z-index: 0;
    height: 80px;
    transition: transform 0.2s ease;
}

#ui.scroll > .row {
    transform: translate(0, -96px);
}

#readyButton {
    border:none;
    width: 100%;
    color: #000;
    font-size: 2rem;
    letter-spacing: 4px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 4px;
}
#readyButton:hover {
    cursor: pointer;
}


#userSelect, #compSelect {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 16px;
}

#userSelect.placeholder, #compSelect.placeholder{
    color: rgba(0,0,0,.1);
}

.r:before { content: '\f255' }
.p:before { content: '\f256' }
.s:before { content: '\f257' }
.l:before { content: '\f258' }
.v:before { content: '\f259' }
